* {
  margin :0;
}
/*-------------------------
  Alarm Dialog
--------------------------*/


/* Hide the arrows dispayed in number inputs in webkit */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}


// .overlay{
//   display:none;
//   position:fixed;
//   width:100%;
//   height:100%;
//   top:0;
//   left:0;
//   background-color:rgba(0,0,0,0.2);
//   z-index:10;
// }

#alarm-dialog, 
#time-is-up{
  width:500px;
  height:375px;
  background-color:#fff;
  border-radius:2px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  position:fixed;
  top: 0;
  left: 0;
  // top:200px;
  // left:50%;
  // margin-left:-250px;
  text-align:center;
}

#alarm-dialog h2{
  text-transform: uppercase;
  font-size:18px;
  color:#5e6268;
  padding: 50px 0;
}

#alarm-dialog label{
  text-transform: uppercase;
  background-color: #f4f4f4;
  width: 80px;
  height: 62px;
  font-size: 11px;
  display: inline-block;
  padding: 10px;
  margin: 4px;
}

#alarm-dialog label input{
  display: block;
  border: 0;
  font: inherit;
  font-size: 17px;
  padding: 6px;
  outline: none;
  text-align: center;
  width: 59px;
  margin: 10px auto;
  background-color:#fff;
}

#alarm-dialog .button-holder{
  padding-top: 50px;
  padding-bottom:0;
}

#alarm-dialog .button-holder .button{
  box-shadow:0 2px 2px #eee;
  padding:13px 22px;
  margin:3px;
}
a.button{
  background-color:#f6a7b3;
  
  background-image:-webkit-linear-gradient(top, #f6a7b3, #f0a3af);
  background-image:-moz-linear-gradient(top, #f6a7b3, #f0a3af);
  background-image:linear-gradient(top, #f6a7b3, #f0a3af);

  border:1px solid #eb9ba7;
  border-radius:2px;

  box-shadow:0 2px 2px #ccc;

  color:#fff;
  text-decoration: none !important;
  padding:15px 20px;
  display:inline-block;
  cursor:pointer;
}

a.button:hover{
  opacity:0.9;
}
.button.blue{
  background-color:#82cddd;

  background-image:-webkit-linear-gradient(top, #86d3e4, #82cddd);
  background-image:-moz-linear-gradient(top, #86d3e4, #82cddd);
  background-image:linear-gradient(top, #86d3e4, #82cddd);

  border-color:#72c1d2;
}

#alarm-dialog .close{
  width: 36px;
  height: 36px;
  background: url('../img/close.png');
  position: absolute;
  top: -18px;
  right: -18px;
  cursor:pointer;
}


#time-is-up{
  height: 240px;
}

#time-is-up h2{
  padding: 60px 0 40px;
  font-size: 30px;
}

#time-is-up .button{
  padding: 12px 20px;
  box-shadow: 0 2px 2px #eee;
}
